.cards {
    padding-bottom: 7.5rem;
}
.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
}

.cards > ul > li {
    border: 1px solid #cbd4da;
    margin-top: 1.5rem;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.cards .cards-card-body {
    margin: 2rem 1rem;
}

.cards .cards-card-body :first-child {
    margin-bottom: 1rem;
}

.cards .cards-card-image {
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
}

.cards > ul > li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .cards > ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .cards > ul > li {
        flex-direction: row;
        align-items: center;
    }

    .cards .cards-card-body {
        margin: 0 1rem;
    }

    .cards .cards-card-image {
        width: 41.6667%;
        height: 250px;
        min-width: 237px;
    }
}