main .hero-container {
    padding: 0;
    background: var(--highlight-background-color);
}

main .hero > div {
    display: flex;
    flex-direction: column;
}

main .hero > div > div {
    flex: 1;
}

@media (min-width: 900px) {
    main .hero > div {
        flex-direction: row;
    }

    main .hero > div > div:last-child {
        width: 670px;
    }
}

main .hero > div > div:first-child {
    padding-top: 46px;
    margin-right: 40px;
}

main .hero p:first-child {
    font-weight: 600;
}

main .hero h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    word-break: break-word;
    line-height: 48px;
    font-size: 48px;
    font-weight: 700;
}

main .hero img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center center;
}