.carousel.block ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
  transition: transform 200ms;
}

.carousel.block .controls-container {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.carousel.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.carousel.block.teasers {
  flex-direction: column-reverse;
}

.carousel.block.teasers .controls-container {
  position: relative;
  bottom: 50px;
}

.carousel.block > div > div {
  overflow: hidden;
}

.carousel.block ul li {
  flex-shrink: 0;
}

.carousel.block ul li img {
  height: 400px;
  width: 400px;
  display: block;
  object-fit: cover;
}

.carousel.block.teasers ul li {
  width: 400px;
  box-shadow: rgb(143 143 143 / 20%) 0 0 20px 0;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 8px;
}

.carousel.block.teasers ul li a > div {
  padding: 12px;
}

.carousel.block.teasers ul li a:any-link:hover {
  color: #ad0021;
}
